a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
/* * {
  border: 1px solid red;
} */

.container {
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}
.header {
  width: 100%;
  background: #fff;
  box-shadow: 6px 6px 16px 0px rgba(17, 17, 49, 0.12);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 17px;
}

.header-logo {
  display: flex;
  justify-content: space-between;
}
.logo {
  margin-right: 36px;
}
.header-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-item {
  text-align: center;
  margin-right: 24px;
  /* padding-top: 31px; */
}

.header-item-text {
  text-align: center;
  color: #413e52;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.05; /* 205.714% */
}
.header-search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-btn {
  width: 130px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #5c5cff;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.92; /* 192% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-left: 18px;
}
.header-btn:hover,
.header-btn:focus {
  background-color: #090953;
}

.hero {
}
.hero-text {
  width: 609px;
  height: 560px;
  display: flex;
  border-radius: 8px;
  border: 1px solid #ebeaf2;
  background: #fff;
}
.hero-line {
  width: 4px;
  height: 432px;
  flex-shrink: 0;
  background: #5c5cff;
  margin-top: 65px;
}
.hero-text-block {
  margin-top: 65px;
  margin-left: 45px;
}
.hero-container {
  position: relative;
  max-width: 1440px;
  height: 818px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.hero-text-title {
  color: #5c5cff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 33px;
}

.hero-title {
  max-width: 463px;
  color: #413e52;
  font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.48; /* 148.571% */
  letter-spacing: 1px;
  margin-bottom: 29px;
}
.hero-text-2 {
  color: #413e52;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.hero-text-3 {
  color: #868297;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}
.hero-img {
}

.hero-img-block-1 {
  margin-top: 129px;
  position: absolute;
  display: flex;
  z-index: 10;
  box-shadow: 0px 24px 24px 0px rgba(52, 52, 147, 0.32);
}
.hero-img-block-2 {
  max-width: 1372px;
  position: absolute;
  display: flex;
  z-index: 1;
}
.first-above {
  position: relative;
  width: 404px;
  height: 392px;
  border: none;
  margin-right: 564px;
  left: 35px;
  top: 369px;
  background: linear-gradient(45deg, #ababfa 50%, transparent 50%) 0 0 / 15px
      15px,
    linear-gradient(135deg, #ffffff 100%, transparent 99%) 20px 20px / 200px
      20px;
}
.second-above {
  position: relative;
  width: 404px;
  height: 392px;
  top: 80px;
  background: linear-gradient(45deg, #ababfa 50%, transparent 50%) 0 0 / 15px
      15px,
    linear-gradient(135deg, #ffffff 100%, transparent 99%) 20px 20px / 200px
      20px;
}
